<h1>Listing collections</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.subject_id %></td>
        <td><%= link_to 'Show', collection %></td>
        <td><%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
