<div class="row">

  <div class="col-md-6">
    <h2 class="h2">Subject phone brands</h2>
    <%= pie_chart @brand_count %>
  </div>
</div>


<div class="row">
  <div>
    <h2 class="h2">File age</h2>
    <%= column_chart ({"Image" => Image.average_image_file_age, "Text" => @average_age}) %>
  </div>
</div>