<div>
  <h1>Picking Digital Pockets (PDP)</h1>

  <p>
    PDP is a free app that shows you the statistics of what type of content your mobile device stores.
    PDP is developed as a part of PDP project, which is a research project by Aalto University and University of Helsinki.
    PDP is supported by Academy of Finland between 2012-2015.
  </p>

  <p>
    PDP  collects following information about your device:
  <ul>
    <li>the unique device ID</li>
    <li>the firmware version and phone model</li>
    <li>number of files of each category (photo, music, text, video, application)</li>
    <li>user information (age, gender, country) (optional)</li>
    <li>e-mail (optional for those who want to participate in our lottery)</li>
  </ul>
  </p>

  <p>
    The above information is hashed, e.g., we do not see the actual names or the content of the files
    but only some names and generic information such as file size.
    You can also see what is being collected and uploaded to our server by clicking on the file.
  </p>

  <p>
    We <b>DO NOT</b> collect any private information about the user or the device.
    The collected data will only be used for research purposes and can be shared publicly.
  </p>
</div>