<h1>Shared</h1>

<h3>Total file size</h3>
<%= pie_chart ({"Image" => @subject.collections.last.images.total_size,
                "Text" => @subject.collections.last.texts.total_size,
                "Audio" => @subject.collections.last.audios.total_size,
                "Video" => @subject.collections.last.videos.total_size,
                }) %>
<h3>Total file count</h3>
<%= pie_chart ({"Image" => @subject.collections.last.images.total_count,
                "Text" => @subject.collections.last.texts.total_count,
                "Audio" => @subject.collections.last.audios.total_count,
                "Video" => @subject.collections.last.videos.total_count,
                "Application" => @subject.collections.last.applications.total_count,
                }) %>
