<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Id</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Entries</Data></Cell>
        <Cell><Data ss:Type="String">Created at</Data></Cell>
      </Row>
      <% @emails.each do |email| %>
          <Row>
            <Cell><Data ss:Type="String"><%= email.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= email.email %></Data></Cell>
            <Cell><Data ss:Type="String"><%= email.entries %></Data></Cell>
            <Cell><Data ss:Type="String"><%= email.created_at %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
